html {box-sizing: border-box;} 
 
*, *:before, *:after {box-sizing: inherit;}  

*{
 font-family: sans-serif;
  margin: 0;
}
.cover{
  border: 4px solid blue;
  background-image: url(https://taleek.com/img/bg-layer.svg);
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  height: 1000px;
  background-color: brown;
}

nav{
  /* border: 4px solid blue; */
  display: flex;
  justify-content: space-around;
  margin: 10px;
}
.logo-main{
  display: flex;
position: relative;
  /* border: 4px solid blue; */
  width: 100%;
  left: 130px;
  

}


.logo-main p{
  /* border: 4px solid blue; */

  position: relative;
  top: 18px;
  right: -10px;
}

nav .link{
  /* border: 4px solid blue; */
  text-decoration: none;
  list-style: none;
  color: white;
  display: flex;
  position: relative;
  top: 18px;
  width: 40%;


}
nav .link a{
  text-decoration: none;
  margin: 10px 20px 10px 10px ;
  list-style: none;
  color: white;


}
.logo{
  width: 70px;
  height: 70px;
}
nav p{
  color: white;
  font-size: 30px;
}
main{
  border: 4px solid blue;
  display: flex;
  width: 100%;

}
.s1{
  border: 4px solid blue;
  height: 600px;
  display: flex;
width: 80%;

/* margin-left: auto; */
/* margin-right: auto; */
}
.s1 h1 {
  font-size: 30px;
  text-align: center;
  width: 600px;
  height: 100px;
  text-align: center;
position: relative;
top: 20px;
left: 300px;
display: flex;
}
.s1 img{
  width: 600px;
  height: 500px;
  margin-right: auto;
  margin-left: auto;
text-align: center;
position: relative;
top: 100px;
left: -300px;
display: flex;

}
.s2{
  /* border: 4px solid blue; */
width: 20%;
height: 200px;
position: absolute;
top: 509px;
display: flex;
left: 12px;
}
button{
  all: unset;
  background-color: orangered;
  padding: 30px 80px 30px 80px;
  border-radius: 12px;
  width: 70px;
  margin-left: auto;
margin-right: auto;
position: absolute;
top: 96px;
right: 21px;
display: flex;
}
.s2 img{
  width: 271px;
  height: 90px;
}
.footer img{
  border: 4px solid blue;
  width: 100%;
  height: 300px;
  top: 20px;
margin-left: auto;
margin-right: auto;
}