html {box-sizing: border-box;} 
 
*, *:before, *:after {box-sizing: inherit;}  

*{
 font-family: sans-serif;
  margin: 0;
}
.cover{
  /* border: 4px solid blue; */
  background-image: url(https://taleek.com/img/bg-layer.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 1049px;
  background-color: black;
}


nav{
  /* border: 4px solid blue; */
  display: flex;
  justify-content: space-around;
  /* margin: 10px; */
  flex-wrap: wrap;
  padding-top: 10px;
}
.logo-main{
  display: flex;
position: relative;
  /* border: 4px solid blue; */
  width: 50%;
  left: 130px;
  

}


.logo-main p{
  /* border: 4px solid blue; */

  position: relative;
  top: 18px;
  right: -10px;
}

nav .link{
  /* border: 4px solid blue; */
  text-decoration: none;
  list-style: none;
  color: white;
  display: flex;
  position: relative;
  top: 15px;
  width: 50%;
}
@media (max-width: 1200px) {
  nav .link{
    right: -33px;
  }
   }



nav .link a{
  text-decoration: none;
  margin: 10px 20px 10px 10px ;
  list-style: none;
  color: white;
display: block;
}
@media (max-width: 1200px) {
 nav{
display: block;
 }
  }
 
.logo{
  width: 70px;
  height: 70px;
}
nav p{
  color: white;
  font-size: 30px;
}
main{
  /* border: 4px solid blue; */
  display: flex;
  width: 100%;

}
.s1{
  /* border: 4px solid blue; */
  height: 600px;
  display: flex;
width: 100%;
justify-content: center;
/* margin-left: auto; */
/* margin-right: auto; */
}
.h1 {
text-align: center;
font-size: 50px;
color: white;
font-weight: bolder;
margin-top: 20px;

}
@media (max-width: 1200px) {
  .h1 {
    text-align: center;
    /* margin-top: 37px; */
}
}
.s1 img{
  width: 600px;
  height: 500px;
}
@media (max-width: 1200px) {
  .s1 img {
    width: 380px;
  }
}
.s2{
  /* border: 4px solid blue; */
width: 20%;
height: 200px;
position: absolute;
top: 509px;
display: flex;
left: 12px;
justify-content: center;
}
@media (max-width: 1200px) {
  .s2 {
    width: 20%;
    height: 200px;
    position: absolute;
    top: 651px;
    display: flex;
    left: 148px;
    justify-content: center;
  }
}
button{
  all: unset;
  background-color: orangered;
  padding: 30px 80px 30px 80px;
  border-radius: 12px;
  width: 70px;
  margin-left: auto;
margin-right: auto;
position: absolute;
top: 96px;
right: 10px;
display: flex;
}
@media (max-width: 1200px) {
  button {
    all: unset;
  background-color: orangered;
  padding: 30px 80px 30px 80px;
  border-radius: 12px;
  width: 70px;
  margin-left: auto;
margin-right: auto;
position: absolute;
top: 96px;
display: flex;
  }
}
.s2 img{
  width: 271px;
  height: 90px;
}
.footer img{
  /* border: 4px solid blue; */
  /* width: 100%; */
  /* height: 100px; */
  /* top: 182px; */
  /* bottom: -50px; */
  /* margin-left: auto; */
  /* margin-right: auto; */
  /* position: relative; */
  /* justify-content: center; */
}
.footer{

}